<?xml version="1.0"?>

<launch>
    <rosparam command="load" file="$(find siesta)/config/params.yaml"/>

    <node pkg="siesta" type="set_point_publisher_node" name="set_point_publisher_node" output="screen"/>
    <node pkg="siesta" type="dxl_quick_read_node" name="dxl_quick_read_node" output="screen"/>
</launch>